*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}


.body{
    background-color: #d7d7d7;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    top: 0;
    right: 0;
    margin: auto 0;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 4px rgba(9, 0, 67, 0.08);
    overflow: scroll;
    padding-right: 20px;
}

body::-webkit-scrollbar {
    display: none;
}

.sidebar{
    z-index: 2;
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    min-width: 200px;
    font-family: 'Poppins', sans-serif;
}

.sidebar-menu::-webkit-scrollbar {
    display: none;
}

.sidebar>ul{
    margin-left: 25px;
    list-style: none;
}



.sidebar>ul>li{
    margin-bottom: 12px;
}

.sidebar>ul>li>a{
    color: #0C2A58;
    font-size: 14px;
    font-weight: 500;
}

.content{
    background-color: #ffffff;
    width: 83%;
    height: 95vh;
    top: 0;
    right: 0;
    margin: auto 0;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 4px rgba(9, 0, 67, 0.08);
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding: 25px;
}

.content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    margin-right: 25px;
}

.sidebar-menu li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.sidebar-menu li a:hover {
    background-color: #34495e;
    border-radius: 6px;
    color:#ffffff;
}

.active {
    background-color: #34495e;
    border-radius: 6px;
    
}

.active > a {
    color: white !important;

}

.row {
    display: flex;
    flex-direction: row;
}

.col-md-9 {
    flex: 1;
}

.pl-5 {
    margin-left: 210px; /* Sesuaikan margin kiri dengan lebar sidebar */
    margin-right: 20px; /* Atur margin kanan sesuai kebutuhan */
    padding-left: 60px;
}


.logo {
    font-size: 10px;
    margin-bottom: 10px; 
    padding: 20px;
    margin-bottom: 20px;
    background-image: url('images/LOGO.png');
}
.logo img {
    width: 57px;
    height: 58px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    
}
.bold-text {
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
    margin-top: 10px;
  }

.text-right {
    margin-left: 20px;
    margin-right: 60px;
    font-size: 14px;
    margin-top: 40px;
    padding-bottom: 15px;
  }
.text-right img {
    height: 17px;
    width: 17px;
    margin-right: 5px;
    float: left;
}
.top-title{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.bgtbl{
    height: fit-content;
    padding: 20px;
    background-color: #E9E9E9;
    border-radius: 10px;
    width: 950px;
}

.bgtbl-container{
    overflow-x: scroll;
    position: relative;
    height: fit-content;
    padding: 20px;
    background-color: #E9E9E9;
    border-radius: 10px;
    width: 950px;
}

.button-space{
    margin-top: 14px;
    margin-bottom: 8px;
}
.formmarg{
    margin-right:20px;
}

/* .table-container{
    background-color: #c62121;
    padding: 30px;
    padding-right: 1px;
    padding-left: 1px;
    margin-top: 10px;
    width: auto;
    height: 500px; ;
    border-radius: 10px;
} */
.logout-icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}


.btn-link {
    background: none; 
    border: none; 
    padding: 0;
    color: #0C2A58;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 15px;
}

.btn-link:hover {
    background-color: red;
    border-color: #0062cc;
}

.text-logout {
    padding-bottom: 15px;
    margin-left: 65px;
}

.logout-text {
    color: #0C2A58;
}

.btn-logout:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    outline: none;
}